*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:white;
}

body{
    min-height: 100vh;
    width:100%;
    background: linear-gradient(45deg,#ff9ce3, #4ab3ff);
    overflow:hidden;
}

nav{
    height:10vh;
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding:0 50px;
}
.home-page-container{
    height:90vh;
    display:flex;
    align-items: center;
    padding:0 50px;
    justify-content: space-between;
}
.left-section{
    width:50%;
    transform:translateY(-50%)
}
.heading{
    font-size: 55px;
    letter-spacing: 2px;
}

.sub-heading{
    font-size:30px;
    font-weight:normal;
    letter-spacing: 3px;
}
.sign-in-sign-up{
    background: rgba(255,255,255,0.4);
    padding:10px;
    border-radius:15px;
    border:1px solid white;
    backdrop-filter:blur(6px);
    cursor: pointer;
}

.right-section{
    transform:translateY(-30px);
    display:flex;
    justify-content:flex-end
}

.homepage-illustration{
    width:80%;
}

.circle1, .circle2{
z-index:-5
}

.circle1{
    background:lightblue;
    width:300px;
    height:300px;
    border-radius:50%;
    background: linear-gradient(180deg,#0094ff,#97ff57);
    filter:blur(3px);
    transform:rotate(18deg);
    position:absolute;
    left:-70px;
    top:-100px;
}

.circle2{
    background:lightblue;
    width:200px;
    height:200px;
    border-radius:50%;
    background: linear-gradient(180deg,#ff57d0,#0094ff);
    filter:blur(3px);
    transform:rotate(18deg);
    position:absolute;
    right:-30px;
    bottom:-30px;
}