*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:white;
}

body{
    min-height: 100vh;
    width:100%;
    background: linear-gradient(45deg,#ff9ce3, #4ab3ff);
    overflow:hidden;
    /* /* opacity: 0; */
    transition: opacity 1s ease; 
}

.visibility{
    opacity: 1;
}

nav{
    height:10vh;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0 80px;
}

.welcome{
    font-size:40px;
    font-weight: bold;
}

.nav-controls{
    display:flex;
}

.nav-options{
    background: rgba(255,255,255,0.4);
    padding:10px;
    border-radius:15px;
    border:1px solid white;
    backdrop-filter:blur(6px);
    cursor: pointer;
    margin-left: 20px;
}

.card-container{
    margin-top: 40px;
    height:90vh;
    width:100%;
    padding:0 80px;
    display:flex;
    align-items: flex-start;
    gap:10px;
    flex-wrap: wrap;
}

.card{
    width:200px;
    min-height:200px;
    padding:10px;
    border-radius:15px;
    background: rgba(255,255,255,0.4);
    backdrop-filter:blur(6px);
    -webkit-backdrop-filter:blur(6px);
}

.card-header{
    width:100%;
    height:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
}
.card-heading{
font-weight: bold;
font-size:20px;
}

.edit-note{
    
    height:40px;
}

.edit-note > img{
    height:100%;
    width:100%;
    cursor: pointer;
}

.card-content{
    font-size:15px;
    padding: 10px;
    width:100%;
    height:160px;
    padding-top:10px;
    border:1px solid white;
    border-radius:15px;
    word-wrap: break-word;
    overflow: scroll;
}